<!-- subcribe box-->
<div class="subcribe-box">
    <h3>{% trans %}sidebar.newsletter.title{% endtrans %}</h3>
    <p>{% trans %}sidebar.newsletter.message{% endtrans %}</p>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_end(form) }}
</div>