<!-- subcribe box-->
<div class="subcribe-box">
    <h3>NEWSLETTER</h3>
    <p>Subscribe to the newsletter to recieve our last publications.</p>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_end(form) }}
</div>