{% extends 'layout.html.twig' %}

{% block page_title "Login" %}

{% set active = "login" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">

            <h2 class="text-center">Login form</h2>

            {# Flash bags #}
            {% include 'components/_flashbags.html.twig' %}

            <form action="{{ url('security_connexion') }}" class="form-horizontal" method="POST">

                <div class="form-group">
                    <div class="col-xs-6">
                        <input name="_username"
                               value="{{ last_email }}"
                               class="form-control" required type="email"
                               placeholder="Enter your email">
                    </div>
                    <div class="col-xs-6">
                        <input name="_password"
                               class="form-control" required type="password"
                               placeholder="Enter your password">
                    </div>
                </div>

                 <input type="hidden" name="_target_path"/>
                 <input type="submit" class="btn btn-block btn-primary"/>

                <div class="form-group">
                    <div class="col-xs-6"><a href="{{ path("security_register") }}">Not register yet ?</a></div>
                    <div class="col-xs-6"><a href="{{ path("security_recover") }}">Recover your password ?</a></div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}




