{% extends 'layout.html.twig' %}

{% block page_title "Password recovery" %}

{% set active = "recover" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">Password recovery</h2>

                {% for message in app.flashes('error') %}
                    <div class="flash-notice">
                        <div class="alert alert-danger">
                            <p class="text-center"><i class="fa fa-thumbs-down fa-2x" aria-hidden="true"></i></p>
                            <p class="text-center">{{ message | raw }}</p>
                        </div>
                    </div>
                {% endfor %}

                {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
                {{ form(form) }}
        </div>
    </div>
{% endblock %}




