{% extends 'layout.html.twig' %}

{% block page_title 'form.password.recover.title'|trans %}

{% set active = "recover" %}

{% block content %}
    <div class="row">
        <div class="col-xs-6 col-xs-push-3">
            <h2 class="text-center">{% trans %}form.password.recover.title{% endtrans %}</h2>

            {# Flash bags #}
            {% include 'components/_flashbags.html.twig' %}

             {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
             {{ form(form) }}
        </div>
    </div>
{% endblock %}




