{% set categories = category_service.findAll() %}
{% set currentPath = app.request.pathinfo %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
            {% block title %}
                {% block page_title '' %} | {% block site_title 'TechNews' %}
            {% endblock %}
    </title>
    {% block css '' %}
</head>
<body>

{#{ dump(app.user) }#}

{% block html '' %}
{% block js '' %}
{% block final_js '' %}


<script>
var searchTxt = document.querySelector(".search-box INPUT");
var searchFunction = function(e){
    if (searchTxt.value!="" && ( !e.keyCode || e.keyCode == 13 )) {
        document.location="/search/"+searchTxt.value+"/1.html";
    }
}
{#{ path('index_search', { 'search' :  key , 'currentPage' : 1 }) }#}
document.querySelector(".search-box BUTTON").addEventListener( "click", searchFunction );
</script>
</body>
</html>