<li>
    <a href="https://tool.frogg.fr" class="heart" target="_blank">
        <i class="fa fa-heart"></i>
    </a>
</li>
<li>
    <a href="https://wiki.frogg.fr" class="frogg" target="_blank">
        <i class="fa fa-wikipedia-w"></i>
    </a>
</li>
<li>
    <a href="https://github.frogg.fr" class="facebook" target="_blank">
        <i class="fa fa-github"></i>
    </a>
</li>
<li>
    <a href="https://youtube.frogg.fr" class="youtube" target="_blank">
        <i class="fa fa-youtube"></i>
    </a>
</li>
<li>
    <a href="https://soundcloud.frogg.fr" class="twitter" target="_blank">
        <i class="fa fa-soundcloud"></i>
    </a>
</li>
<li>
    <a href="#" class="rss">
        <i class="fa fa-rss"></i>
    </a>
</li>